[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
nose2 = "*"
pytest = "*"
coverage = "*"
coveralls = "*"
pylint = "*"
pydocstyle = "*"
mypy = "*"
pytest-cov = "*"
arxiv-canonical = {path = "."}

[packages]
backports-datetime-fromisoformat = "*"
jsonschema = "*"
python-dateutil = "*"
pytz = "*"
typing-extensions = "*"
arxiv-base = "==0.15.8.post1"
arxiv-auth = "*"

[requires]
python_version = "3.6"
